fastapi
uvicorn[standard]
python-dotenv
requests
beautifulsoup4
sqlalchemy>=2.0.0
aiosqlite
apscheduler
pywebpush
python-multipart
cryptography<43
py-vapid<1.9
itsdangerous
google-auth
google-auth-oauthlib
google-api-python-client
pyparsing>=3.1.0
icalendar

